<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p style="text-decoration: underline">Welcome to <%= title %></p>
    <a href="/new">Add new message</a>
    <ul style="padding-left: 0px; list-style-position: inside">
      <hr />
      <% for( let i = 0; i < messages.length; i++ ) { %>
      <li><%= messages[i].user %></li>
      <li><%= messages[i].added %></li>
      <li style="font-weight: bold"><%= messages[i].text %></li>
      <hr />
      <% } %>
    </ul>
  </body>
</html>
