<%- include('../partials/head') %> <%- include('../partials/header') %>
<h1>Messages:</h1>
<ul>
  <hr />
  <% messages.forEach((message) => { %>
  <li>
    <h2><%= message.message %></h2>
    <p><%= message.username %> - <small><%= message.added %></small></p>

    <form action="/open" method="post">
      <input type="hidden" id="id" name="id" value="<%= message.id  %>" />
      <button type="submit">Open</button>
    </form>
  </li>
  <hr />
  <% }) %>
</ul>
