<%- include('../partials/head') %> <%- include('../partials/header') %>

<ul>
  <hr />
  <li>
    <h2><%= message.message %></h2>
    <p><%= message.username %> - <small><%= message.added %></small></p>
  </li>
  <hr />
</ul>
